@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

body, html {
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    padding: 20px;
}